cdocumenteditor#edt_brand_brand cresumesection[sectionname="urlrewriting"]{
	-moz-binding: url(binding:modules.brand.cBrandEditor#cResumeUrlrewritingByWebsiteSection);
}
gridlist.spacesJSON{
	-moz-binding: url(binding:modules.brand.editor.brand.spaces#cSpacesGrid);
}
wdialog[template="publicationInWebsitesDialog"]{
	-moz-binding: url(binding:modules.brand.cBrandEditor#cPublicationInWebsitesDialog);
}
wdialog[template="publicationInWebsitesDialog"] section.website{
	-moz-binding: url(binding:modules.brand.cBrandEditor#cPublicationInWebsitesSection);
}