.modules-brand .letters-menu {
	list-style: none inside;
	text-align: center;
	margin-bottom: 25px;;
}
.modules-brand .letters-menu li {
	display: inline;
	margin: 5px;
}
.modules-brand .brands-for-letter {
	margin-bottom: 20px
}