<ul class="mini-navigation">
	<li><a class="link" change:link="tag ctx_brand_brandlist" change:translate="modules.brand.frontoffice.All-brands"></a></li>
</ul>

<tal:block tal:condition="configuration/getShowShareBlock" change:block="" module="sharethis" name="Sharepage" />

<h1 change:h="">${brand/getLabelAsHtml}</h1>

<img tal:condition="brand/getVisual" change:media="document brand/getVisual; class 'float-right'; format 'modules.brand.frontoffice/detailvisual'" />

<dl class="inline-items">
	<tal:block tal:condition="brand/getDescription">
		<dt>${trans:m.brand.frontoffice.description,ucf}</dt>
		<dd>${brand/getDescriptionAsHtml}</dd>
	</tal:block>
	<tal:block tal:define="websiteUrl brand/getWebsiteUrl" tal:condition="websiteUrl">
		<dt>${trans:m.brand.frontoffice.website-url,ucf}</dt>
		<dd><a href="${websiteUrl}" class="link">${websiteUrl}</a></dd>
	</tal:block>
</dl>