<ul class="mini-navigation">
	<li><a class="link" change:link="tag ctx_brand_brandlist" change:translate="modules.brand.frontoffice.All-brands"></a></li>
</ul>

<tal:block tal:condition="configuration/getShowShareBlock" change:block="" module="sharethis" name="Sharepage" />

<h1 change:h="">${brand/getLabelAsHtml}</h1>

<img tal:condition="brand/getVisual" change:media="document brand/getVisual; class 'float-right'; format 'modules.brand.frontoffice/detailvisual'" />

<ul>
	<li tal:condition="brand/getDescription">
		<strong change:translate="modules.brand.frontoffice.DescriptionLabel"></strong>
		<div>${brand/getDescriptionAsHtml}</div>
	</li>
	<li tal:define="websiteUrl brand/getWebsiteUrl" tal:condition="websiteUrl">
		<strong change:translate="modules.brand.frontoffice.Website-urlLabel"></strong>
		<a href="${websiteUrl}" class="link">${websiteUrl}</a>
	</li>
</ul>